
{% extends "herites.html" %}
{% load static %}
{% block 'content' %}
  <link rel="stylesheet" href="{% static 'css/message.css' %}">
<div class="contenu_message" style="width: 75%;">
    <h2 style="margin-top : 15px;">🔓 Message déchiffré</h2>

  <p style="margin-top : 15px;"><strong>Contenu Binaire :</strong><br>
  <code>{{ binaire }}</code></p>

  <p><strong>Texte original :</strong><br>
  <code>{{ texte }}</code></p>

  <br>
  <a href="{% url 'message_list' %}" class="btn btn-primary" style="text-decoration:none;">⬅️ Retour à la liste</a>
</div>
{% endblock %}
